.item {
  margin: 32px 0;
  padding: 8px;
  border-radius: 8px;
  flex: 1;
  font-size: 80%;
  background: linear-gradient(269.07deg, rgba(222, 209, 93, 0.24) 0%, rgba(0, 209, 255, 0.08) 100%);
}

.market {
  margin: 4px;
  padding: 4px;
  display: flex;
}

.position {
  border-top: 1px solid blue;
  display: flex;
}

.manageButton,
.openButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 16px;
  gap: 8px;
  background: #003686;
  border-radius: 8px;
  color: #fff;
}
