.root {
  display: flex;
  align-items: center;
}

.percentEquivalent {
  margin-left: 8px;

  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #00FF0A;
}

.red {
  color: #FB5959;
}
