.root {
  display: flex;
  position: sticky;
  top: 64px;
  height: calc(100vh - 64px);
  width: 200px;
  flex-direction: column;
  padding-bottom: 16px;
  overflow-y: scroll;
  padding-right: 0;
  background-color: #EEEEEE;
}
.root::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}
.root::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
.root::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.footer {
  margin: 16px 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  margin-bottom: auto;
}
