.root {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-top: 80px;
}

.sidebar {
  min-width: 200px;
}

.mainWrapper {
  flex: 1;
  padding: 0 24px;
}

.mainWrapper {
  position: relative;
  z-index: 1;
}

.mainWrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .1;
  z-index: -1;
}
