.root {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-top: 80px;
  background: linear-gradient(56.03deg, #234f74, #4f9188);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sidebar {
  min-width: 200px;
}

.mainWrapper {
  flex: 1;
  padding: 0 80px;
}

.mainWrapper {
  position: relative;
}
